@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
/* This is a single-line comment */
header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.login {
    background-color: #EB662B;
    color: #ffffff; 
    padding: 10px 15px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}
header {
    background-color: #FEF7F4;
    color: #fff;
}
.logo img {
    max-width: 100%;
    height: auto;
}
/* This is a single-line comment */

/* MAIN */
.left b  {
    color : #EB662B;
}
.container {
    width: 80%;
    margin: 0 auto;
}






/* MAIN */
.row {
    background-color: #fff;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}


.row .right {
    float: right;
    padding: 70px;
    margin-right: 90px;
    margin-top: -50px;
}

.row .left {
    float: left;
    padding: 70px;
    margin-left: 90px;
}


h3 {
    margin-top: -100px;
    margin-left: 70px;
    font-size: 30px;
    font-weight: 900;
}

.section {
    display: flex;
    margin-left: 60px;
}
.section div {
    position: relative; /* Corrected property name */
    margin: 10px;
    font-size: 15px;
    margin: auto;
    margin: 0 4px 12px 10px;
    width: 500px;
}

.section  p h5 {
    margin: 0;
}

h1 {
    font-size: 50px;
}

.button {
    /* float: center; Remove this line */
    display: inline-block;
    text-decoration: none;
    background-color: #EB662B;
    color: #ffffff;
    height: 25px;
    width: 120px;
    padding: 10px;
    font-weight: bold;
    margin: 0 auto; /* Add this line to center the button */
}


footer {
    position: relative;
    background-color: #FEF7F4;
}
.foot {
    padding: 10px;
    top : 20%;
    left : 5%;
    position: relative;
} 

h5 {
    font-size: 15px;
    font-weight: bold;
}

